@if (forecasts.length > 0) {
<table>
    <thead>
        <tr>
        <th> Date</th>
            <th>Temperature (°F)</th>
            <th>Temperature (°C)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        @for (weather of forecasts; track $index) {
        <tr>
            <td>{{ weather.date }}</td>
            <td>{{ weather.temperatureF }}</td>
            <td>{{ weather.temperatureC }}</td>
            <td>{{ weather.summary }}</td>
        </tr>}
</table>
} @else {
<p><em>Loading...</em></p>
}