.nav{
    background-color: #ffbfbf;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;
    color: white;

    a{
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        text-align: center;
        font-size: 17px;

        &:hover{
            border: 2px solid black;
            color: black;
        }
    }
}